.flex-container-biography {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.flex-container-biography__left__jack {
  background-image: url(/assets/images/jack_white.jpg);
  min-width: 40vw;
  min-height: 100vh;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 3vw;
}

.flex-container-biography__right {
  width: 60vw;
  height: 100vh;
  display: grid;
  align-self: center;
}

.flex-container-biography__left__meg {
  background-image: url(/assets/images/meg_white2.jpg);
  min-width: 40vw;
  min-height: 100vh;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 3vw;
}

.biography-bottom {
  height: 70vh;
  position: relative;
  font-size: 1.2em;
  margin-left: 10%;
  width: 500px;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 3s ease-out;
}

.bioTxt {
  position: absolute;
  margin-left: 8%;
  margin-right: -15%;
  margin-top: 10%;
}

.bioTextFadeOut {
  opacity: 1;
  transform: translateY(0);
}

.biography-top {
  margin-left: 2%;
  height: 30vh;
  width: 100vw;
}

.biography-top .biography-letter,
.biography-top .biography-letter2 {
  display: inline-block;
  transform-origin: 0 0;
}
.biography-letter,
.biography-letter2 {
  font-size: 4em;
  padding: 0;
  margin: 0;
}

.biography-letter:nth-child(1),
.biography-letter:nth-child(5) {
  font-size: 6em;
}

.biography-letter2:nth-child(1),
.biography-letter2:nth-child(4) {
  font-size: 6em;
}

.biography-container {
  position: absolute;
  display: block;
  width: 600px;
  height: 600px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  margin: 5%;
}


.svg-circle-container{
  z-index: 100;
}

.path{
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: DASH 4s ease-in-out alternate 0s forwards infinite;
}

@keyframes DASH {
  100% {
    stroke-dashoffset: 0;
  }
}

