.index-container {
    display: flex;
}
.left {
    width: 32vw;
    height: 100vh;
    background-image: url(/assets/images/cosmonaut_rob_jones.jpg);
    background-size: cover;
    filter:saturate(1);
}
.middle {
    width: 8vw;
    height: 100vh;
    background-color: $backgroundColor;
}
.right {
    width: 60vw;
    height: 100vh;
    background-color: rgb(54, 54, 54);
    background-color: white;
    overflow: hidden;
    color: black;
}

/* Menubar */
.main-nav-static {
    position: absolute;
    width: 100vh;    
    height: 8vw;
    background: $backgroundColor;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
}
.main-nav-static:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 4vh;
    height: 1px;
    width: 91vh;
}
/* Hidden menubar */
.main-nav {
    position: fixed;
    left: -8vw;
    top: 5vh;
    width: 90vh;    
    height: 3vw;
    background: $backgroundColor;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
}
.main-nav:after {
    content: "";
    background: $bodyColor;
    position: absolute;
    bottom: 0;
    left: 0vh;
    height: 1px;
    width: 90vh;
}
ul.nav li {    
    margin-right: 5vh;
    float:left;
    height:100%;
    line-height:45px;
}
.title-horizontal {
      float: right;
      margin: 0;
      padding: 0;
      margin-right: 5vh;
}
.title-vertical {
      /* text-shadow: 3px 3px red; */
      margin: 0;
      padding: 0;
      margin-left: 12px;
      position: absolute;
}
a {
    text-decoration: none;
    color: $bodyColor;
}
.custom-underline {
    position: relative;
}
.custom-underline::after {
    content: "";
    position: absolute;
}
.nav .custom-underline::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: 50%;
    background-color: red;
    transition: all .6s;
    transform-origin: 0 0;
}
.nav li:hover .custom-underline::after {
    width: 100%;
    left: 0%;
}
li {
    list-style:none
}
ul {
    margin: 0;
    padding: 4vw 0 0 5vh;
}
.main-nav ul {
    padding: 0 0 0 5vh;
}
.quote {
    font-size: 16vh;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}
.quote-one {
    top: 4vh;
}
.quote-two {
    top: 26vh;
}
.quote-three {
    top: 48vh;
}
.quote-four {
    top: 70vh;
}