$finalHeight: 100vw;
$finalWidth: 100vw;
$scrollBarHeight: 0px;

/* Hides the scrollbar */
::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}
/* Hides the scrollbar button */
::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

.horizontal-scroll-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 100vw);
}