
$finalHeight: 100vw;
$finalWidth: 100vw;
$scrollBarHeight: 0px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

.horizontal-scroll-wrapper{
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
}
