/* Showcase */
.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-left: 1vw;
}
.flex-left {
  width: 20vw;
  height: 100vh;
}
.flex-right {
  width: 80vw;
  height: 100vh;
}

.showcase-horizontal {
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  letter-spacing: 0.06em;
  font-size: 8.5em;
  font-weight: 900;
  width: 100vh;
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-up{
  height: 50vh;
  width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 3em;
}

.flex-down {
  height: 50vh;
  width: 100vh;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 30em;
  align-items: center;
}

.flex-down-last{
  padding-left: 37em;
}

.flex-up-middle{
  padding-left: 16em;
}

.flex-down-middle{
  padding-left: 39em;
}

/* White stripes*/
.wrapper--box{
  position: relative;
}

.wrapper img{
  width: 26em;
  box-shadow: 13px 19px 21px -8px rgba(79, 70, 79, 0.96);
}

.title__whiteStripes,
.title__deStijl,
.title__elephant,
.title__whiteBlood,
.title__getBehind,
.title__ickyThump{
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg) translateX(-10%);
  letter-spacing: 0.06em;
  font-size: 3em;
  font-weight: 900;
  z-index: 1;
  left: -5em;
  top: 2em;
  line-height: 1em;
}

.wrapper--line {
  margin: 0px 3em 6em;
}

.title__deStijl{
  left: -2em;
  top:0;
}

.title__elephant{
  left: -3em;
  top: 1em;
}

.title__whiteBlood{
  top: 1em;
}

.title__getBehind{
  left: -9.4em;
  top: 0em;
  padding-top: 6em;
}

.title__ickyThump{
  left: -3.7em;
  top: 1em;
}

.wrapper--line::before{
  content: "";
  display: inline-block;
  background: black;
  height: 1px;
  width: 10vh;
  margin-top: 9em;
}

.flex-text p{
  width: 430px;
}

/* Showcase Animation */
.animation-img {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1.2s ease-out;
}

// .wrapper {
//   height: 100vh;
// }

/* Animation */

.fadeInImg {
  opacity: 1;
  transform: translateY(0);
}

.showcase-horizontal .letter {
  display: inline-block;
  line-height: 1em;
}

.animation-text {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

.fadeOutText {
  opacity: 1;
  transform: translateY(0);
}
