.video-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.seven-box {
    transform-origin: left bottom;
    transform: rotate(-90deg) translateX(-90%) translateY(100%);
    overflow: hidden;
    height: 9vh;
}
.seven-text {
    display: inline-block;
    font-size: 5vh;
    margin: 0;
    z-index: 10;
}
.seven-text-red {
    color: red;
}
.video-box, .video-box2, .video-box3 {
    position: absolute;
    background-image: url(/assets/images/seven.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    animation: backgroundLoop;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.video-box2 {
    animation-delay: 4s;
    top: 0;
    opacity: 0;
}
.video-box3 {
    animation-delay: 8s;
    top: 0;
    opacity: 0;
}

@keyframes backgroundLoop {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }   
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.small-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 40vh;
    z-index: 10;
    position: absolute;
}
.first-img {
    background-image: url(/assets/images/sevenNationArmy1.jpg);
    top: 20vh;
    right: 10vw;
}
.second-img {
    background-image: url(/assets/images/sevenNationArmy3.png);
    top: 20vh;
    left: 10vw;
}
.quote-box {
    position: absolute;
    top: 40vh;
    left: 40vw;
    width: 20vw;
    height: 1vh;
    z-index: 10;
    text-align: center;
}
.quote-box p {
    font-size: 4vh;
    padding: 0;
    margin: 0;
    color: $bodyColor;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}